@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Genos:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

.logo-font {
  font-family: 'Crete Round', serif;
}

.date-font {
  font-family: 'Genos', sans-serif;
}

.primary-font {
  font-family: 'Poppins', sans-serif;
}
body {
  background: #f4f4fa;
}
/* body {
  background: '#F3F4F6';
  height: 100%;
} */
body::-webkit-scrollbar {
  display: none;
}
.card-desc::-webkit-scrollbar {
  display: none;
}
